@font-face {
    font-family: 'Popins';
    src: url('Poppins-SemiBold.otf');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Popins';
    background-color: rgba(0, 183, 195);
    color:white;
}